.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  margin-bottom: 1rem;
}

.App-title {
  font-size: 1.5em;
}

.App-header button {
  margin: 1em;
}

.App-header #timer {
  font-family: monospace;
  font-size: 5em;
}

.difficulty-row {
  display: inline-block;
  margin-right: 1.5em;
}
.difficulty-row>label {
  margin-right: 1em;
}
/* Game Board: */
main {
  width: 600px;
  max-width: 800px;
  max-height: 800px;
  height: 600px;
  margin: 0.5rem auto 1rem;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 200px));
  grid-template-rows: repeat(4, minmax(100px, 200px));
  grid-gap: 10px;
}
.square {
  perspective: 800px;
  box-shadow: 0 0 0;
  /* opacity: 0.5; */
  transform: scale(1.0);
  transition: all 200ms ease-in-out;
}
.square:hover {
  box-shadow: 0 0 2rem;
  border-radius: 5%;
  /* opacity: 1.0; */
  transform: scale(1.25);
  transition: all 200ms ease-in-out;
  z-index: 1;
}
.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  position: relative;
  transition: transform 1s ease-in-out;
}

/* square flip */
.card div {
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.front {
  background-color: lightblue;
}
.back {
  color: #fff;
  background-color: blue;
  transform: rotateY(180deg);
}
.flipped {
  transform: rotateY(180deg);
}
.back img {
  height: 100%;
  width: 100%;
}
/* leaderboard */
ul.leaderlist {
  border: 1px solid;
  width: 80%;
  margin: auto;
  box-shadow: 0 0 8px 1px;
  padding: 1em;
}
li {
  margin: 0.53em;
  list-style-type: none;
}
li.leader-highlight {
  width: fit-content;
  padding: 1em;
  background-color: yellow;
  margin: auto;
}
.leader-score, .leader-name {
  margin-left: 3em;
}
.leader-span {
  font-size: 1.5em;
  width: 4em;
  padding: 1em;
}
.leader-name {
  letter-spacing: 1.5em;
  font-family: monospace;
  font-size: 2em;
}
.leader-form {
  margin: 2em auto;
  box-shadow: 0 0 2px 2px;
  width: 80%;
  padding: 1em;
}
.leader-form label {
  font-size: 1.25em;
}
#initials {
  width: 4em;
  padding: 1em;
  margin: 1em;
  font-size: 1.75em;
  letter-spacing: 0.7em;
  font-family: monospace;
}
.leader-form button {
  border-radius: 5%;
}
.leader-form .btn-input-invalid {
  cursor: not-allowed;
  padding: 0.8em;
  background-color: grey;
  font-size: 1.05em;
  transition: all 1s ease-in-out;
}
.leader-form .btn-input-valid {
  cursor: pointer;
  padding: 1em;
  background-color: lightgreen;
  font-size: 1.25em;
  transition: all 1s ease-in-out;
}
